# Python specific ignores
__pycache__/
*.pyc

# IDE and editor specific ignores
.idea/
.vscode/

# Large binary files we can regenerate
*.dat
*.pkl
*.db
*.csv
*.cpr
*.idx
*.mtc
*.so
logs/
db/

# Database Files
checkers_database.db
